<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.

#![Spark Logo](http://spark-mooc.github.io/web-assets/images/ta_Spark-logo-small.png) + ![Python Logo](http://spark-mooc.github.io/web-assets/images/python-logo-master-v3-TM-flattened_small.png)
# **Spark Tutorial: Learning Apache Spark**

This tutorial will teach you how to use [Apache Spark](http://spark.apache.org/), a framework for large-scale data processing, within a notebook. Many traditional frameworks were designed to be run on a single computer.  However, many datasets today are too large to be stored on a single computer, and even when a dataset can be stored on one computer (such as the datasets in this tutorial), the dataset can often be processed much more quickly using multiple computers.

Spark has efficient implementations of a number of transformations and actions that can be composed together to perform data processing and analysis.  Spark excels at distributing these operations across a cluster while abstracting away many of the underlying implementation details.  Spark has been designed with a focus on scalability and efficiency.  With Spark you can begin developing your solution on your laptop, using a small dataset, and then use that same code to process terabytes or even petabytes across a distributed cluster.

**During this tutorial we will cover:**

* *Part 1:* Basic notebook usage and [Python](https://docs.python.org/2/) integration
* *Part 2:* An introduction to using [Apache Spark](https://spark.apache.org/) with the [PySpark SQL API](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark-sql-module) running in a notebook
* *Part 3:* Using DataFrames and chaining together transformations and actions
* *Part 4*: Python Lambda functions and User Defined Functions
* *Part 5:* Additional DataFrame actions
* *Part 6:* Additional DataFrame transformations
* *Part 7:* Caching DataFrames and storage options
* *Part 8:* Debugging Spark applications and lazy evaluation

The following transformations will be covered:
* `select()`, `filter()`, `distinct()`, `dropDuplicates()`, `orderBy()`, `groupBy()`

The following actions will be covered:
* `first()`, `take()`, `count()`, `collect()`, `show()`

Also covered:
* `cache()`, `unpersist()`

Note that, for reference, you can look up the details of these methods in the [Spark's PySpark SQL API](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark-sql-module)

## **Part 1: Basic notebook usage and [Python](https://docs.python.org/2/) integration **

### (1a) Notebook usage

A notebook is comprised of a linear sequence of cells.  These cells can contain either markdown or code, but we won't mix both in one cell.  When a markdown cell is executed it renders formatted text, images, and links just like HTML in a normal webpage.  The text you are reading right now is part of a markdown cell.  Python code cells allow you to execute arbitrary Python commands just like in any Python shell. Place your cursor inside the cell below, and press "Shift" + "Enter" to execute the code and advance to the next cell.  You can also press "Ctrl" + "Enter" to execute the code and remain in the cell.  These commands work the same in both markdown and code cells.

In [5]:
# This is a Python cell. You can run normal Python code here...
print 'The sum of 1 and 1 is {0}'.format(1+1)

In [6]:
# Here is another Python cell, this time with a variable (x) declaration and an if statement:
x = 42
if x > 40:
    print 'The sum of 1 and 2 is {0}'.format(1+2)

### (1b) Notebook state

As you work through a notebook it is important that you run all of the code cells.  The notebook is stateful, which means that variables and their values are retained until the notebook is detached (in Databricks) or the kernel is restarted (in Jupyter notebooks).  If you do not run all of the code cells as you proceed through the notebook, your variables will not be properly initialized and later code might fail.  You will also need to rerun any cells that you have modified in order for the changes to be available to other cells.

In [8]:
# This cell relies on x being defined already.
# If we didn't run the cells from part (1a) this code would fail.
print x * 2

### (1c) Library imports

We can import standard Python libraries ([modules](https://docs.python.org/2/tutorial/modules.html)) the usual way.  An `import` statement will import the specified module.  In this tutorial and future labs, we will provide any imports that are necessary.

In [10]:
# Import the regular expression library
import re
m = re.search('(?<=abc)def', 'abcdef')
m.group(0)

In [11]:
# Import the datetime library
import datetime
print 'This was last run on: {0}'.format(datetime.datetime.now())

##  **Part 2: An introduction to using [Apache Spark](https://spark.apache.org/) with the [PySpark SQL API](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark-sql-module) running in a notebook**

### Spark Context

In Spark, communication occurs between a driver and executors.  The driver has Spark jobs that it needs to run and these jobs are split into tasks that are submitted to the executors for completion.  The results from these tasks are delivered back to the driver.

In part 1, we saw that normal Python code can be executed via cells. When using Databricks this code gets executed in the Spark driver's Java Virtual Machine (JVM) and not in an executor's JVM, and when using an Jupyter notebook it is executed within the kernel associated with the notebook. Since no Spark functionality is actually being used, no tasks are launched on the executors.

In order to use Spark and its DataFrame API we will need to use a `SQLContext`.  When running Spark, you start a new Spark application by creating a [SparkContext](http://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.SparkContext). You can then create a [SQLContext](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.SQLContext) from the `SparkContext`. When the `SparkContext` is created, it asks the master for some cores to use to do work.  The master sets these cores aside just for you; they won't be used for other applications. When using Databricks, both a `SparkContext` and a `SQLContext` are created for you automatically. `sc` is your `SparkContext`, and `sqlContext` is your `SQLContext`.

### (2a) Example Cluster
The diagram shows an example cluster, where the slots allocated for an application are outlined in purple. (Note: We're using the term _slots_ here to indicate threads available to perform parallel work for Spark.
Spark documentation often refers to these threads as _cores_, which is a confusing term, as the number of slots available on a particular machine does not necessarily have any relationship to the number of physical CPU
cores on that machine.)

<img src="http://spark-mooc.github.io/web-assets/images/cs105x/diagram-2a.png" style="height: 800px;float: right"/>

You can view the details of your Spark application in the Spark web UI.  The web UI is accessible in Databricks by going to "Clusters" and then clicking on the "Spark UI" link for your cluster.  In the web UI, under the "Jobs" tab, you can see a list of jobs that have been scheduled or run.  It's likely there isn't any thing interesting here yet because we haven't run any jobs, but we'll return to this page later.

At a high level, every Spark application consists of a driver program that launches various parallel operations on executor Java Virtual Machines (JVMs) running either in a cluster or locally on the same machine. In Databricks, "Databricks Shell" is the driver program.  When running locally, `pyspark` is the driver program. In all cases, this driver program contains the main loop for the program and creates distributed datasets on the cluster, then applies operations (transformations & actions) to those datasets.
Driver programs access Spark through a SparkContext object, which represents a connection to a computing cluster. A Spark SQL context object (`sqlContext`) is the main entry point for Spark DataFrame and SQL functionality. A `SQLContext` can be used to create DataFrames, which allows you to direct the operations on your data.

Try printing out `sqlContext` to see its type.

In [15]:
# Display the type of the Spark sqlContext
type(sqlContext)

Note that the type is `HiveContext`. This means we're working with a version of Spark that has Hive support. Compiling Spark with Hive support is a good idea, even if you don't have a Hive metastore. As the
[Spark Programming Guide](http://spark.apache.org/docs/latest/sql-programming-guide.html#starting-point-sqlcontext) states, a `HiveContext` "provides a superset of the functionality provided by the basic `SQLContext`. Additional features include the ability to write queries using the more complete HiveQL parser, access to Hive UDFs [user-defined functions], and the ability to read data from Hive tables. To use a `HiveContext`, you do not need to have an existing Hive setup, and all of the data sources available to a `SQLContext` are still available."

### (2b) SparkContext attributes

You can use Python's [dir()](https://docs.python.org/2/library/functions.html?highlight=dir#dir) function to get a list of all the attributes (including methods) accessible through the `sqlContext` object.

In [18]:
# List sqlContext's attributes
dir(sqlContext)

### (2c) Getting help

Alternatively, you can use Python's [help()](https://docs.python.org/2/library/functions.html?highlight=help#help) function to get an easier to read list of all the attributes, including examples, that the `sqlContext` object has.

In [20]:
# Use help to obtain more detailed information
help(sqlContext)

Outside of `pyspark` or a notebook, `SQLContext` is created from the lower-level `SparkContext`, which is usually used to create Resilient Distributed Datasets (RDDs). An RDD is the way Spark actually represents data internally; DataFrames are actually implemented in terms of RDDs.

While you can interact directly with RDDs, DataFrames are preferred. They're generally faster, and they perform the same no matter what language (Python, R, Scala or Java) you use with Spark.

In this course, we'll be using DataFrames, so we won't be interacting directly with the Spark Context object very much. However, it's worth knowing that inside `pyspark` or a notebook, you already have an existing `SparkContext` in the `sc` variable. One simple thing we can do with `sc` is check the version of Spark we're using:

In [22]:
# After reading the help we've decided we want to use sc.version to see what version of Spark we are running
sc.version

In [23]:
# Help can be used on any Python object
help(map)

## **Part 3: Using DataFrames and chaining together transformations and actions**

### Working with your first DataFrames

In Spark, we first create a base [DataFrame](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame). We can then apply one or more transformations to that base DataFrame. *A DataFrame is immutable, so once it is created, it cannot be changed.* As a result, each transformation creates a new DataFrame. Finally, we can apply one or more actions to the DataFrames.

> Note that Spark uses lazy evaluation, so transformations are not actually executed until an action occurs.

We will perform several exercises to obtain a better understanding of DataFrames:
* Create a Python collection of 10,000 integers
* Create a Spark DataFrame from that collection
* Subtract one from each value using `map`
* Perform action `collect` to view results
* Perform action `count` to view counts
* Apply transformation `filter` and view results with `collect`
* Learn about lambda functions
* Explore how lazy evaluation works and the debugging challenges that it introduces

A DataFrame consists of a series of `Row` objects; each `Row` object has a set of named columns. You can think of a DataFrame as modeling a table, though the data source being processed does not have to be a table.

More formally, a DataFrame must have a _schema_, which means it must consist of columns, each of which has a _name_ and a _type_. Some data sources have schemas built into them. Examples include RDBMS databases, Parquet files, and NoSQL databases like Cassandra. Other data sources don't have computer-readable schemas, but you can often apply a schema programmatically.

### (3a) Create a Python collection of 10,000 people

We will use a third-party Python testing library called [fake-factory](https://pypi.python.org/pypi/fake-factory/0.5.3) to create a collection of fake person records.

In [27]:
from faker import Factory
fake = Factory.create()
fake.seed(4321)

We're going to use this factory to create a collection of randomly generated people records. In the next section, we'll turn that collection into a DataFrame. We'll use the Spark `Row` class,
because that will help us define the Spark DataFrame schema. There are other ways to define schemas, though; see
the Spark Programming Guide's discussion of [schema inference](http://spark.apache.org/docs/latest/sql-programming-guide.html#inferring-the-schema-using-reflection) for more information. (For instance,
we could also use a Python `namedtuple`.)

In [29]:
# Each entry consists of last_name, first_name, ssn, job, and age (at least 1)
from pyspark.sql import Row
def fake_entry():
  name = fake.name().split()
  return (name[1], name[0], fake.ssn(), fake.job(), abs(2016 - fake.date_time().year) + 1)

In [30]:
# Create a helper function to call a function repeatedly
def repeat(times, func, *args, **kwargs):
    for _ in xrange(times):
        yield func(*args, **kwargs)

In [31]:
data = list(repeat(10000, fake_entry))

`data` is just a normal Python list, containing Python tuples objects. Let's look at the first item in the list:

In [33]:
data[0]

We can check the size of the list using the Python `len()` function.

In [35]:
len(data)

### (3b) Distributed data and using a collection to create a DataFrame

In Spark, datasets are represented as a list of entries, where the list is broken up into many different partitions that are each stored on a different machine.  Each partition holds a unique subset of the entries in the list.  Spark calls datasets that it stores "Resilient Distributed Datasets" (RDDs). Even DataFrames are ultimately represented as RDDs, with additional meta-data.

<img src="http://spark-mooc.github.io/web-assets/images/cs105x/diagram-3b.png" style="width: 900px; float: right; margin: 5px"/>

One of the defining features of Spark, compared to other data analytics frameworks (e.g., Hadoop), is that it stores data in memory rather than on disk.  This allows Spark applications to run much more quickly, because they are not slowed down by needing to read data from disk.
The figure to the right illustrates how Spark breaks a list of data entries into partitions that are each stored in memory on a worker.


To create the DataFrame, we'll use `sqlContext.createDataFrame()`, and we'll pass our array of data in as an argument to that function. Spark will create a new set of input data based on data that is passed in.  A DataFrame requires a _schema_, which is a list of columns, where each column has a name and a type. Our list of data has elements with types (mostly strings, but one integer). We'll supply the rest of the schema and the column names as the second argument to `createDataFrame()`.

Let's view the help for `createDataFrame()`.

In [38]:
help(sqlContext.createDataFrame)

In [39]:
dataDF = sqlContext.createDataFrame(data, ('last_name', 'first_name', 'ssn', 'occupation', 'age'))

Let's see what type `sqlContext.createDataFrame()` returned.

In [41]:
print 'type of dataDF: {0}'.format(type(dataDF))

Let's take a look at the DataFrame's schema and some of its rows.

In [43]:
dataDF.printSchema()

We can register the newly created DataFrame as a named table, using the `registerDataFrameAsTable()` method.

In [45]:
sqlContext.registerDataFrameAsTable(dataDF, 'dataframe')

What methods can we call on this DataFrame?

In [47]:
help(dataDF)

How many partitions will the DataFrame be split into?

In [49]:
dataDF.rdd.getNumPartitions()

###### A note about DataFrames and queries

When you use DataFrames or Spark SQL, you are building up a _query plan_. Each transformation you apply to a DataFrame adds some information to the query plan. When you finally call an action, which triggers execution of your Spark job, several things happen:

1. Spark's Catalyst optimizer analyzes the query plan (called an _unoptimized logical query plan_) and attempts to optimize it. Optimizations include (but aren't limited to) rearranging and combining `filter()` operations for efficiency, converting `Decimal` operations to more efficient long integer operations, and pushing some operations down into the data source (e.g., a `filter()` operation might be translated to a SQL `WHERE` clause, if the data source is a traditional SQL RDBMS). The result of this optimization phase is an _optimized logical plan_.
2. Once Catalyst has an optimized logical plan, it then constructs multiple _physical_ plans from it. Specifically, it implements the query in terms of lower level Spark RDD operations.
3. Catalyst chooses which physical plan to use via _cost optimization_. That is, it determines which physical plan is the most efficient (or least expensive), and uses that one.
4. Finally, once the physical RDD execution plan is established, Spark actually executes the job.

You can examine the query plan using the `explain()` function on a DataFrame. By default, `explain()` only shows you the final physical plan; however, if you pass it an argument of `True`, it will show you all phases.

(If you want to take a deeper dive into how Catalyst optimizes DataFrame queries, this blog post, while a little old, is an excellent overview: [Deep Dive into Spark SQL's Catalyst Optimizer](https://databricks.com/blog/2015/04/13/deep-dive-into-spark-sqls-catalyst-optimizer.html).)

Let's add a couple transformations to our DataFrame and look at the query plan on the resulting transformed DataFrame. Don't be too concerned if it looks like gibberish. As you gain more experience with Apache Spark, you'll begin to be able to use `explain()` to help you understand more about your DataFrame operations.

In [51]:
newDF = dataDF.distinct().select('*')
newDF.explain(True)

### (3c): Subtract one from each value using _select_

So far, we've created a distributed DataFrame that is split into many partitions, where each partition is stored on a single machine in our cluster.  Let's look at what happens when we do a basic operation on the dataset.  Many useful data analysis operations can be specified as "do something to each item in the dataset".  These data-parallel operations are convenient because each item in the dataset can be processed individually: the operation on one entry doesn't effect the operations on any of the other entries.  Therefore, Spark can parallelize the operation.

One of the most common DataFrame operations is `select()`, and it works more or less like a SQL `SELECT` statement: You can select specific columns from the DataFrame, and you can even use `select()` to create _new_ columns with values that are derived from existing column values. We can use `select()` to create a new column that decrements the value of the existing `age` column.

`select()` is a _transformation_. It returns a new DataFrame that captures both the previous DataFrame and the operation to add to the query (`select`, in this case). But it does *not* actually execute anything on the cluster. When transforming DataFrames, we are building up a _query plan_. That query plan will be optimized, implemented (in terms of RDDs), and executed by Spark _only_ when we call an action.

In [53]:
# Transform dataDF through a select transformation and rename the newly created '(age -1)' column to 'age'
# Because select is a transformation and Spark uses lazy evaluation, no jobs, stages,
# or tasks will be launched when we run this code.
subDF = dataDF.select('last_name', 'first_name', 'ssn', 'occupation', (dataDF.age - 1).alias('age'))

Let's take a look at the query plan.

In [55]:
subDF.explain(True)

### (3d) Use _collect_ to view results

<img src="http://spark-mooc.github.io/web-assets/images/cs105x/diagram-3d.png" style="height:700px;float:right"/>

To see a list of elements decremented by one, we need to create a new list on the driver from the the data distributed in the executor nodes.  To do this we can call the `collect()` method on our DataFrame.  `collect()` is often used after transformations to ensure that we are only returning a *small* amount of data to the driver.  This is done because the data returned to the driver must fit into the driver's available memory.  If not, the driver will crash.

The `collect()` method is the first action operation that we have encountered.  Action operations cause Spark to perform the (lazy) transformation operations that are required to compute the values returned by the action.  In our example, this means that tasks will now be launched to perform the `createDataFrame`, `select`, and `collect` operations.

In the diagram, the dataset is broken into four partitions, so four `collect()` tasks are launched. Each task collects the entries in its partition and sends the result to the driver, which creates a list of the values, as shown in the figure below.

Now let's run `collect()` on `subDF`.

In [57]:
# Let's collect the data
results = subDF.collect()
print results

A better way to visualize the data is to use the `show()` method. If you don't tell `show()` how many rows to display, it displays 20 rows.

In [59]:
subDF.show()

If you'd prefer that `show()` not truncate the data, you can tell it not to:

In [61]:
subDF.show(n=30, truncate=False)

In Databricks, there's an even nicer way to look at the values in a DataFrame: The `display()` helper function.

In [63]:
display(subDF)

last_name,first_name,ssn,occupation,age
Harvey,Tracey,160-37-9051,Agricultural engineer,38
Green,Leslie,361-94-4342,"Teacher, primary school",26
Lewis,Tammy,769-27-5887,Scientific laboratory technician,20
Cunningham,Kathleen,175-24-7915,Geophysicist/field seismologist,41
Marquez,Joshua,310-69-7326,Forensic psychologist,25
Summers,Beth,099-90-9730,Best boy,42
Jessica,Mrs.,476-06-5497,English as a foreign language teacher,42
Turner,Diana,722-09-8354,"Psychologist, prison and probation services",6
Johnson,Ryan,715-56-1708,Sales executive,5
Lewis,Melissa,123-48-8354,"Engineer, broadcasting (operations)",16
Hernandez,Benjamin,293-22-0265,"Scientist, product/process development",28
Dixon,Stephanie,041-23-3263,Building control surveyor,23
Kim,Leah,725-61-1132,Artist,42
Snyder,Leslie,268-79-4330,Chiropractor,14
Ortega,Kenneth,077-96-8349,"Surveyor, minerals",15
Barnes,Ricky,061-88-1648,"Production assistant, television",32
Adams,Robert,582-28-0099,Manufacturing systems engineer,11
Andrade,Sophia,386-07-6013,"Social research officer, government",5
Weeks,Catherine,363-94-7993,"Administrator, education",41
Tapia,Thomas,386-39-5490,"Horticulturist, commercial",10
Arnold,Heather,737-44-0894,Economist,7
Bird,Curtis,790-03-8999,Psychotherapist,26
Delgado,Megan,789-24-6522,"Therapist, drama",33
Rojas,Scott,702-94-4924,Press sub,39
Love,Gary,117-61-4564,Music tutor,14
Gardner,Charles,695-93-4517,Conference centre manager,34
Walker,Danielle,164-14-5236,"Scientist, water quality",41
Dunn,Dominic,452-74-5757,Clinical embryologist,13
Scott,Eric,669-41-6318,"Surveyor, insurance",30
James,Terry,890-73-1947,Hotel manager,18
Todd,Joseph,292-28-5631,Biomedical scientist,45
Haas,Kimberly,757-69-2225,"Engineer, communications",17
Vasquez,Lisa,155-76-0838,Estate manager/land agent,45
West,Donna,156-67-2394,Sport and exercise psychologist,28
Chapman,Chelsea,667-49-0913,Television production assistant,27
Hill,Steven,194-77-5984,"Accountant, chartered",29
Beck,Larry,665-91-5669,Production engineer,10
Joshua,Mr.,363-83-5358,Hotel manager,8
Houston,Samuel,384-60-4672,Drilling engineer,43
Smith,David,025-39-2755,Financial trader,38
Powell,Jason,266-22-3606,Human resources officer,25
Nicole,Miss,588-33-0595,Furniture designer,22
Kelly,Tracy,082-13-6448,Architectural technologist,8
Pacheco,Andrea,345-72-1769,Chartered loss adjuster,39
Harris,Ronald,630-90-7756,Pharmacologist,45
Jones,Jackie,412-91-9340,"Engineer, drilling",1
Davis,Michael,720-16-0272,Energy engineer,36
Collins,Savannah,206-54-3941,Statistician,23
Miller,Tonya,039-54-6496,"Therapist, nutritional",41
Hernandez,Steven,237-01-0002,"Runner, broadcasting/film/video",27
Stephens,Michael,213-41-7568,"Pharmacist, community",24
Soto,Bryce,204-20-5184,Financial adviser,37
Mack,Michelle,478-23-6948,Hydrologist,25
Salas,Elizabeth,376-51-7310,"Designer, ceramics/pottery",20
Bishop,Austin,177-27-6682,Industrial/product designer,35
Marshall,Jim,319-20-7301,"Administrator, sports",38
Mcmahon,Sharon,891-54-3734,Production engineer,15
Mooney,Patricia,546-44-5346,Database administrator,42
Alexandria,Mrs.,441-78-1498,"Programmer, applications",13
Church,David,370-59-5122,Museum education officer,6
Holmes,Cynthia,270-23-4295,"Therapist, horticultural",29
Olson,Melissa,209-27-9609,"Surveyor, hydrographic",1
Buck,Jason,227-70-6222,"Engineer, materials",22
Mueller,Amanda,033-74-1619,"Administrator, Civil Service",13
Anderson,Jason,791-64-0423,Press photographer,11
Wallace,Kristen,168-28-6786,Training and development officer,33
Duncan,Shane,449-99-1004,"Administrator, charities/voluntary organisations",36
Jones,Anne,824-64-4586,Operational researcher,3
Garza,Adrian,508-92-5295,Furniture conservator/restorer,11
Gonzales,Sarah,318-29-4528,Estate manager/land agent,22
Harris,Carla,097-46-3461,Higher education careers adviser,5
Brandon,Mr.,608-29-4426,Armed forces technical officer,13
Doyle,Scott,739-33-9458,Theatre stage manager,27
Wyatt,Alicia,188-35-0575,Structural engineer,3
Reynolds,Katherine,612-26-5209,Minerals surveyor,43
Anderson,Carrie,394-86-0997,"Engineer, chemical",37
Robinson,Tiffany,159-89-8821,Paediatric nurse,32
Hansen,Jared,773-10-5048,Music therapist,10
Hammond,Eric,698-02-1905,Textile designer,44
Norris,Justin,690-04-3697,Pharmacologist,13
Pena,Morgan,361-09-0070,Customer service manager,32
Carter,Mark,873-85-4598,"Scientist, forensic",41
Clark,Linda,841-82-4522,Phytotherapist,3
Montoya,Tina,899-60-5436,Furniture designer,41
Williams,Patricia,779-54-4635,Web designer,27
Jackson,David,571-22-1560,Sports coach,4
Jenkins,Elaine,071-64-4764,"Doctor, general practice",19
Ramirez,Tammy,467-94-4414,"Engineer, structural",5
Ball,Sandra,441-87-8090,Dance movement psychotherapist,13
Rodriguez,Valerie,662-31-2283,Oceanographer,6
Thompson,Cindy,763-02-8605,"Engineer, chemical",5
Vincent,Eric,060-09-0452,Paramedic,39
Clayton,Lisa,134-69-5123,"Scientist, physiological",41
Gomez,Michele,738-18-6576,"Engineer, mining",26
Brown,Eric,223-82-8835,"Psychologist, clinical",3
Nguyen,William,130-84-7722,"Runner, broadcasting/film/video",39
Davis,William,862-78-0166,"Research officer, trade union",26
Frost,James,469-97-7213,Consulting civil engineer,45
Woods,Elizabeth,864-11-4296,Herbalist,2
Hernandez,Darrell,030-83-3895,Radio producer,19
Sanchez,Michele,402-49-9912,Pharmacologist,35
Bush,Melissa,192-28-9339,Child psychotherapist,38
Linda,Dr.,492-52-7526,TEFL teacher,35
Cameron,Danielle,203-14-8171,Exercise physiologist,6
Green,Travis,360-24-1580,"Chemist, analytical",24
Williams,Scott,811-21-2781,Best boy,37
Taylor,Andrew,218-03-8231,Microbiologist,21
Mann,Tasha,180-16-0247,"Therapist, speech and language",17
Clayton,Joanne,027-90-7296,Public house manager,2
Wright,Trevor,476-74-0706,Immunologist,22
Glass,Brian,863-39-7238,Clinical molecular geneticist,20
Huffman,Jennifer,040-37-5466,"Editor, magazine features",34
Henderson,Randall,329-74-0432,Systems analyst,5
Brown,Joseph,021-20-5203,Petroleum engineer,25
Jenkins,Rebecca,275-68-3283,"Psychologist, educational",35
Johnson,Scott,216-45-5965,"Teacher, music",6
Long,Amanda,700-98-6332,Commercial art gallery manager,19
Shannon,Brian,801-24-1683,Ranger/warden,42
Chapman,Erin,141-37-0804,Radiation protection practitioner,14
Morris,Katherine,444-30-7668,Broadcast engineer,7
Knapp,Dean,618-45-1656,"Accountant, chartered public finance",25
Ballard,Gary,799-88-1365,Chartered management accountant,10
Combs,Nicholas,040-40-6167,"Embryologist, clinical",17
Stone,Robyn,673-73-1431,"Biochemist, clinical",11
Allison,Elizabeth,430-83-4257,Television camera operator,30
Hayes,Matthew,028-15-3538,"Administrator, education",8
Hunter,Steven,584-30-6924,"Scientist, product/process development",36
Mathews,Katherine,891-83-5022,Mudlogger,43
Henderson,John,310-85-1575,Media buyer,30
Taylor,Richard,214-05-9321,Photographer,12
Torres,Christopher,494-79-2980,Technical author,20
Wilkinson,David,149-35-4850,Exhibition designer,19
Schmidt,Daniel,270-78-5671,Broadcast presenter,27
Hayes,John,336-26-5627,"Engineer, site",28
Thomas,Charles,762-33-5114,"Scientist, product/process development",23
Smith,Melissa,249-80-6226,Ergonomist,24
Reynolds,Erica,682-73-2063,"Conservator, museum/gallery",7
Cooke,Matthew,357-65-2352,"Chemist, analytical",27
Lopez,Pam,331-03-1024,"Administrator, sports",38
Gonzalez,Tracy,202-88-5765,Retail banker,43
Rosales,Pamela,391-64-8825,Arts administrator,2
Jennings,Kimberly,741-25-3183,Insurance risk surveyor,19
Thompson,Faith,325-59-7759,Estate agent,11
Mendez,Wyatt,804-20-9778,Volunteer coordinator,8
Williamson,Thomas,048-39-2832,"Clinical scientist, histocompatibility and immunogenetics",30
Lewis,Victoria,301-47-9178,"Scientist, clinical (histocompatibility and immunogenetics)",20
Maynard,Traci,245-60-6853,"Biochemist, clinical",31
Hall,Brandon,511-12-4216,Product/process development scientist,41
Medina,Taylor,882-27-6869,Merchant navy officer,11
Walton,Thomas,440-34-1319,Historic buildings inspector/conservation officer,10
Jones,Rebecca,674-05-6376,"Programmer, multimedia",45
Cohen,Lydia,852-76-2240,Educational psychologist,45
Torres,Joseph,405-05-0687,Armed forces logistics/support/administrative officer,44
Melton,Robin,311-83-8382,Health visitor,21
King,Rodney,083-92-9584,Energy manager,5
Ross,Michelle,521-44-0744,TEFL teacher,29
Hill,Robert,899-61-6918,Maintenance engineer,2
Miller,Latoya,248-11-9706,Public relations account executive,41
Gonzalez,Jim,717-64-0553,Television/film/video producer,20
Hernandez,Misty,070-05-2754,"Psychologist, counselling",38
Dixon,George,003-17-0648,Art gallery manager,42
Reed,Levi,649-03-8292,Human resources officer,45
Kenneth,Mr.,307-36-3457,"Engineer, electronics",21
Holmes,Dylan,045-58-9521,Personnel officer,16
Peterson,Amanda,662-80-6804,Mechanical engineer,4
Harrison,Joseph,515-72-0861,"Scientist, research (physical sciences)",26
Williams,Kimberly,067-37-8975,Telecommunications researcher,10
Anderson,Tanya,670-70-8625,"Engineer, chemical",38
Lawrence,Lisa,797-64-8348,Armed forces training and education officer,15
Hess,Michael,369-62-5327,"Programmer, applications",34
Baker,Nancy,477-43-2955,Leisure centre manager,30
Holmes,Jessica,561-64-1791,Community development worker,35
Cook,Samuel,226-65-6128,Data processing manager,23
Castro,Victor,262-16-4562,Clinical biochemist,28
Castaneda,Lauren,707-99-4032,Oceanographer,5
Lopez,Edward,463-77-9770,Medical physicist,25
Mills,Kristen,323-57-8035,Advertising account planner,32
French,Alex,307-40-0259,Dramatherapist,39
Riley,Melissa,004-37-0436,Newspaper journalist,16
Henry,Ruth,521-41-3593,Fish farm manager,34
Sutton,Gerald,745-11-5032,Public librarian,31
Baker,Jennifer,669-52-0990,"Lecturer, further education",37
Stephens,Victor,153-67-0728,Hospital pharmacist,43
Fry,Charlotte,418-43-3513,"Teacher, special educational needs",2
Garner,April,515-46-5463,Equities trader,16
Morton,Jennifer,250-30-1615,Charity officer,2
Mcdonald,Jay,400-15-4747,Emergency planning/management officer,43
Curtis,David,332-52-0477,Applications developer,13
Lindsey,Linda,783-72-5814,"Production assistant, television",25
Hammond,Daniel,472-59-7171,Market researcher,9
Miller,Michael,037-97-2371,Network engineer,29
Buck,Nancy,516-47-3632,Mudlogger,40
Peters,Charles,086-51-7487,Private music teacher,26
Hernandez,Katelyn,598-93-5045,Medical physicist,10
Martin,Patricia,691-16-4779,Mining engineer,19
Williams,Raymond,731-11-0268,"Psychologist, occupational",27
Smith,Morgan,291-25-3861,"Merchandiser, retail",14
Scott,Troy,552-70-7234,Tourist information centre manager,9
Foster,Nicole,782-14-6661,Electrical engineer,13
Johns,Janet,106-81-7655,Child psychotherapist,39
Ortiz,Melissa,525-19-5866,Clinical molecular geneticist,5
Woods,Olivia,466-76-8819,Retail buyer,39
Wilson,Nancy,259-07-3748,"Investment banker, corporate",32
Gonzales,Jordan,678-41-1622,"Programmer, applications",13
Hamilton,Chelsey,033-06-4161,Print production planner,35
Phelps,Sarah,718-73-4725,"Sound technician, broadcasting/film/video",25
Rose,Daniel,709-23-4351,Science writer,40
Vega,Nicholas,702-49-8227,"Surveyor, quantity",13
Rich,Michael,795-61-6176,Chemical engineer,31
Miller,Amanda,686-55-2125,Soil scientist,39
Wright,Nicholas,498-52-6190,International aid/development worker,11
Bradford,Rhonda,131-02-5959,Printmaker,29
Sanchez,Patricia,558-69-9995,Paramedic,25
Frazier,Douglas,343-88-1003,"Designer, ceramics/pottery",14
Mann,Ashley,463-20-3935,Technical author,0
Pennington,Elizabeth,530-61-9065,Ceramics designer,29
Smith,Alexander,795-44-4616,Community education officer,15
Chan,Russell,498-32-1305,Economist,15
Rice,Rhonda,274-97-8264,"Administrator, charities/voluntary organisations",2
Bush,Mary,193-05-5422,Structural engineer,13
Pitts,Jordan,726-20-9140,Patent attorney,19
Mayo,Douglas,664-48-4787,Dance movement psychotherapist,21
Herring,Kevin,848-34-8887,Veterinary surgeon,27
Williams,Tina,130-34-8351,"Research officer, trade union",13
Coleman,Laurie,229-77-5622,Sub,11
Mccarty,Phillip,530-83-1265,Broadcast engineer,44
Shannon,Edgar,510-39-6926,Air broker,29
Galloway,Hayley,168-55-6069,Maintenance engineer,22
Lynn,Laura,307-80-3150,Archaeologist,12
Moore,Abigail,470-14-3741,Sports therapist,16
Woods,Emily,469-44-5195,"Engineer, land",1
Williams,Joseph,619-33-6576,Print production planner,39
Young,Brianna,588-41-2984,Learning disability nurse,45
Armstrong,Christopher,732-92-3213,"Research officer, political party",32
Mullins,Shelley,829-11-9334,Higher education lecturer,13
Shelton,Alex,828-16-3558,"Lecturer, further education",29
Gonzalez,Teresa,799-02-9034,Hotel manager,13
Nguyen,Cassandra,044-61-5231,"Surveyor, land/geomatics",0
Green,James,481-67-5717,Amenity horticulturist,7
Morgan,Kelly,863-06-2264,Broadcast presenter,45
Smith,Meghan,611-85-6732,Careers adviser,37
Johnson,Oscar,365-21-1471,"Radiographer, diagnostic",29
Young,Michael,506-18-8721,"Programme researcher, broadcasting/film/video",15
Lynch,Jennifer,570-65-1617,Academic librarian,35
Griffin,Gregory,402-53-2673,Editorial assistant,43
Dunn,Danny,629-70-3364,"Development worker, international aid",10
Melton,John,105-96-0361,Mudlogger,41
Jones,Jacob,717-80-2309,"Psychotherapist, child",22
Hamilton,James,615-59-6828,Commercial art gallery manager,6
Ortiz,Patrick,098-60-5233,Medical physicist,32
Brown,Zachary,341-67-8363,"Engineer, chemical",22
Gutierrez,Sarah,583-67-4324,"Engineer, materials",11
Hopkins,Lisa,207-39-6978,Patent examiner,20
Edwards,Kristen,504-71-4358,"Programmer, systems",15
George,Nathan,884-69-6300,"Designer, furniture",40
Lloyd,William,358-75-1657,Metallurgist,6
Arnold,Anne,526-78-5325,Audiological scientist,35
Smith,Ray,321-96-4010,Clinical biochemist,27
Mike,Mr.,390-52-2752,Forensic scientist,21
Case,Pamela,064-65-1288,Physiotherapist,44
Mitchell,Pam,248-24-2574,"Scientist, product/process development",22
Cooper,Kelly,454-03-3242,Minerals surveyor,43
Stephenson,Victoria,779-81-8382,Garment/textile technologist,34
Oneal,Lisa,263-43-8648,Insurance underwriter,31
Herrera,Jasmine,273-64-8976,"Education officer, community",17
Cunningham,John,702-16-3739,"Accountant, chartered",45
Anderson,William,484-41-2877,Planning and development surveyor,45
Mitchell,Christopher,415-67-5339,Accounting technician,34
King,Ashley,090-21-2918,Musician,28
Moore,Ashley,052-84-7029,Pharmacologist,29
Walker,Martin,772-92-2978,"Administrator, local government",42
Williams,Connor,135-30-6367,Office manager,41
Cole,Gabriel,228-33-8234,Media buyer,32
Chambers,Kimberly,625-95-0479,Lobbyist,39
Austin,Emily,757-16-2546,Amenity horticulturist,5
Lynn,David,676-39-4923,Forensic scientist,7
Velez,Michael,660-88-4361,Sport and exercise psychologist,37
Evans,Donald,222-39-8224,Warehouse manager,15
Mason,Patrick,767-81-6609,Textile designer,43
Ramos,Bonnie,441-13-9330,Exhibition designer,29
Logan,Elizabeth,662-16-4347,IT consultant,32
Welch,Stephanie,436-09-7453,Photographer,3
Williams,Frank,879-62-2456,"Engineer, maintenance",19
Walker,Marco,462-99-4831,Arboriculturist,12
Martinez,Alexandra,194-11-1478,Industrial buyer,8
Mckinney,Nicole,539-29-7685,"Biochemist, clinical",9
Santos,Alexa,100-24-9584,Environmental consultant,24
Gallagher,Christopher,217-37-4368,"Engineer, petroleum",23
Olson,Stephen,228-40-1095,Sports therapist,7
Bailey,Debra,100-70-2553,"Accountant, chartered certified",23
Velez,Anthony,898-35-5225,"Engineer, site",20
Aguilar,Gina,513-15-5468,IT trainer,29
Owen,Joseph,627-02-6573,Biomedical engineer,6
Burke,Luis,753-35-3989,Arts administrator,37
Brandt,Aaron,173-64-0741,"Sound technician, broadcasting/film/video",17
Soto,Brittany,270-33-3731,Teaching laboratory technician,24
Sutton,Victoria,122-33-1803,"Psychotherapist, child",16
Stephens,Brooke,529-46-8156,"Engineer, maintenance",21
Leonard,Chase,420-71-7636,Careers information officer,20
Roach,Samuel,396-43-8078,Financial adviser,0
Perez,Mary,165-87-9675,Corporate treasurer,21
Rodriguez,Laura,897-09-9600,"Editor, film/video",10
Perry,Kayla,586-66-6045,"Scientist, biomedical",38
Coffey,Eric,087-32-2169,Mining engineer,42
Robertson,Linda,251-51-1335,"Therapist, speech and language",22
Jackson,Christopher,218-11-2543,"Production assistant, television",44
Rios,Thomas,544-65-2828,Educational psychologist,22
Trevino,Jennifer,577-79-6966,Television/film/video producer,7
Garcia,Jennifer,167-82-5832,Commercial art gallery manager,14
Smith,Amanda,063-03-7767,Event organiser,31
Stevens,Rhonda,410-46-4436,Haematologist,45
Miller,Brian,862-66-2237,Futures trader,31
Wood,Sara,434-29-3406,Tax inspector,19
Hernandez,Jill,051-10-8609,Environmental education officer,23
Smith,Jessica,371-59-8543,Medical physicist,46
Pitts,Ernest,563-17-6496,Legal executive,28
Andrews,Ashley,175-90-1636,"Designer, textile",32
Morrison,Jason,058-82-3831,"Clinical scientist, histocompatibility and immunogenetics",8
Liu,Diane,883-70-1069,Clinical molecular geneticist,9
Day,Marco,544-14-3872,Government social research officer,20
Schmidt,Joann,708-40-3550,Advertising copywriter,30
Ramirez,Margaret,121-68-9537,Chartered management accountant,34
Collins,Brenda,594-06-8946,Academic librarian,0
Ford,Rebecca,358-91-1304,Quantity surveyor,7
Scott,Mary,897-42-8108,Physiotherapist,38
Rowe,Robert,165-14-4145,"Accountant, chartered management",39
Stuart,Tammy,889-64-6688,Adult nurse,36
Crosby,Patricia,851-86-9928,"Scientist, clinical (histocompatibility and immunogenetics)",27
Hernandez,Jordan,619-97-2652,Retail merchandiser,15
Craig,Travis,073-78-8261,Forest/woodland manager,10
Zachary,Dr.,187-02-2382,Local government officer,22
Diaz,Shane,504-87-8828,"Production assistant, television",41
Huang,Karen,518-84-4824,Advertising account planner,8
Riggs,Allison,324-53-3868,Psychotherapist,29
Parsons,Bruce,157-74-8575,"Nurse, mental health",9
Thomas,Karen,346-88-4714,"Geologist, engineering",43
Hill,Crystal,591-92-3927,Animal nutritionist,4
Gomez,Charles,647-24-4117,Civil Service fast streamer,29
Wright,Bonnie,630-76-4880,Volunteer coordinator,23
Dixon,Jason,360-73-6552,"Psychologist, clinical",40
Ford,Bryce,885-92-4427,Pension scheme manager,10
Welch,Jessica,529-08-6226,Public relations account executive,30
Gomez,Michael,714-12-1442,"Administrator, local government",36
Gibson,Tracy,703-07-1803,Estate manager/land agent,19
Trujillo,Kelly,260-19-4040,Chartered loss adjuster,18
Edwards,Cynthia,088-80-8764,"Education officer, museum",42
Davis,Joyce,698-27-2425,Research scientist (maths),37
Stephens,Cynthia,579-21-6502,"Scientist, forensic",12
Chan,Paul,872-65-4061,Make,21
Hernandez,Eric,539-54-8045,"Scientist, biomedical",10
Hardin,Benjamin,051-85-9778,"Engineer, drilling",0
Bryant,Daniel,677-74-7778,"Engineer, drilling",11
Sanchez,Wayne,633-27-7745,Telecommunications researcher,22
Smith,Robert,765-69-3888,Government social research officer,45
James,Emily,368-98-7106,"Scientist, water quality",30
Harmon,Charlene,633-88-8219,"Geneticist, molecular",0
Gomez,Vicki,212-90-9667,Planning and development surveyor,18
Johnson,Thomas,230-08-0964,Corporate treasurer,4
Ali,Catherine,347-10-3366,Planning and development surveyor,2
King,Charlotte,301-58-0213,Charity fundraiser,28
Glenn,Sean,422-03-8227,Conference centre manager,28
Robert,Dr.,428-76-4760,Manufacturing engineer,39
Smith,Tricia,737-16-4817,Mental health nurse,41
Douglas,William,407-80-8972,Mental health nurse,23
Campbell,Raymond,792-78-6351,Pension scheme manager,18
Pratt,Toni,524-22-2255,Environmental manager,38
Lewis,Kathleen,828-20-9223,"Scientist, clinical (histocompatibility and immunogenetics)",36
Wiley,Judith,505-47-8481,Education administrator,2
Thomas,Jose,159-36-0143,Ship broker,13
Miller,Melissa,132-51-1350,Tax adviser,41
Drake,Louis,124-28-9929,Customer service manager,39
Mcdonald,Adam,013-59-6619,"Programme researcher, broadcasting/film/video",40
Higgins,Nicole,881-61-5340,Secondary school teacher,36
Wilson,Deborah,729-28-1188,Health physicist,36
Nelson,Whitney,538-30-3238,Hydrologist,21
Villarreal,Spencer,483-42-1699,"Sound technician, broadcasting/film/video",20
Kent,Cassie,862-67-5978,"Pharmacist, community",3
Jarvis,Mark,477-90-5470,Probation officer,3
Scott,Randall,431-10-6432,Graphic designer,1

### (3e) Use _count_ to get total

One of the most basic jobs that we can run is the `count()` job which will count the number of elements in a DataFrame, using the `count()` action. Since `select()` creates a new DataFrame with the same number of elements as the starting DataFrame, we expect that applying `count()` to each DataFrame will return the same result.

<img src="http://spark-mooc.github.io/web-assets/images/cs105x/diagram-3e.png" style="height:700px;float:right"/>

Note that because `count()` is an action operation, if we had not already performed an action with `collect()`, then Spark would now perform the transformation operations when we executed `count()`.

Each task counts the entries in its partition and sends the result to your SparkContext, which adds up all of the counts. The figure on the right shows what would happen if we ran `count()` on a small example dataset with just four partitions.

In [65]:
print dataDF.count()
print subDF.count()

### (3f) Apply transformation _filter_ and view results with _collect_

Next, we'll create a new DataFrame that only contains the people whose ages are less than 10. To do this, we'll use the `filter()` transformation. (You can also use `where()`, an alias for `filter()`, if you prefer something more SQL-like). The `filter()` method is a transformation operation that creates a new DataFrame from the input DataFrame, keeping only values that match the filter expression.

The figure shows how this might work on the small four-partition dataset.

<img src="http://spark-mooc.github.io/web-assets/images/cs105x/diagram-3f.png" style="height:700px;float:right"/>

To view the filtered list of elements less than 10, we need to create a new list on the driver from the distributed data on the executor nodes.  We use the `collect()` method to return a list that contains all of the elements in this filtered DataFrame to the driver program.

In [67]:
filteredDF = subDF.filter(subDF.age < 10)
filteredDF.show(truncate=False)
filteredDF.count()

(These are some _seriously_ precocious children...)

## Part 4: Python Lambda functions and User Defined Functions

Python supports the use of small one-line anonymous functions that are not bound to a name at runtime.

`lambda` functions, borrowed from LISP, can be used wherever function objects are required. They are syntactically restricted to a single expression. Remember that `lambda` functions are a matter of style and using them is never required - semantically, they are just syntactic sugar for a normal function definition. You can always define a separate normal function instead, but using a `lambda` function is an equivalent and more compact form of coding. Ideally you should consider using `lambda` functions where you want to encapsulate non-reusable code without littering your code with one-line functions.

Here, instead of defining a separate function for the `filter()` transformation, we will use an inline `lambda()` function and we will register that lambda as a Spark _User Defined Function_ (UDF). A UDF is a special wrapper around a function, allowing the function to be used in a DataFrame query.

In [70]:
from pyspark.sql.types import BooleanType
less_ten = udf(lambda s: s < 10, BooleanType())
lambdaDF = subDF.filter(less_ten(subDF.age))
lambdaDF.show()
lambdaDF.count()

In [71]:
# Let's collect the even values less than 10
even = udf(lambda s: s % 2 == 0, BooleanType())
evenDF = lambdaDF.filter(even(lambdaDF.age))
evenDF.show()
evenDF.count()

## Part 5: Additional DataFrame actions

Let's investigate some additional actions:

* [first()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.first)
* [take()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.take)

One useful thing to do when we have a new dataset is to look at the first few entries to obtain a rough idea of what information is available.  In Spark, we can do that using actions like `first()`, `take()`, and `show()`. Note that for the `first()` and `take()` actions, the elements that are returned depend on how the DataFrame is *partitioned*.

Instead of using the `collect()` action, we can use the `take(n)` action to return the first _n_ elements of the DataFrame. The `first()` action returns the first element of a DataFrame, and is equivalent to `take(1)[0]`.

In [73]:
print "first: {0}\n".format(filteredDF.first())

print "Four of them: {0}\n".format(filteredDF.take(4))

This looks better:

In [75]:
display(filteredDF.take(4))

last_name,first_name,ssn,occupation,age
Turner,Diana,722-09-8354,"Psychologist, prison and probation services",6
Johnson,Ryan,715-56-1708,Sales executive,5
Andrade,Sophia,386-07-6013,"Social research officer, government",5
Arnold,Heather,737-44-0894,Economist,7

## Part 6: Additional DataFrame transformations

### (6a) _orderBy_

[`orderBy()`](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.distinct) allows you to sort a DataFrame by one or more columns, producing a new DataFrame.

For example, let's get the first five oldest people in the original (unfiltered) DataFrame. We can use the `orderBy()` transformation. `orderBy` takes one or more columns, either as _names_ (strings) or as `Column` objects. To get a `Column` object, we use one of two notations on the DataFrame:

* Pandas-style notation: `filteredDF.age`
* Subscript notation: `filteredDF['age']`

Both of those syntaxes return a `Column`, which has additional methods like `desc()` (for sorting in descending order) or `asc()` (for sorting in ascending order, which is the default).

Here are some examples:

```
dataDF.orderBy(dataDF['age'])  # sort by age in ascending order; returns a new DataFrame
dataDF.orderBy(dataDF.last_name.desc()) # sort by last name in descending order
```

In [78]:
# Get the five oldest people in the list. To do that, sort by age in descending order.
display(dataDF.orderBy(dataDF.age.desc()).take(5))

last_name,first_name,ssn,occupation,age
Smith,Jessica,371-59-8543,Medical physicist,47
Blankenship,Crystal,341-29-9523,Commercial/residential surveyor,47
Meyer,Christine,803-59-5869,Early years teacher,47
George,Wesley,622-72-1540,"Therapist, art",47
Davila,Steven,479-63-8770,Purchasing manager,47

Let's reverse the sort order. Since ascending sort is the default, we can actually use a `Column` object expression or a simple string, in this case. The `desc()` and `asc()` methods are only defined on `Column`. Something like `orderBy('age'.desc())` would not work, because there's no `desc()` method on Python string objects. That's why we needed the column expression. But if we're just using the defaults, we can pass a string column name into `orderBy()`. This is sometimes easier to read.

In [80]:
display(dataDF.orderBy('age').take(5))

last_name,first_name,ssn,occupation,age
Mann,Ashley,463-20-3935,Technical author,1
Nguyen,Cassandra,044-61-5231,"Surveyor, land/geomatics",1
Roach,Samuel,396-43-8078,Financial adviser,1
Collins,Brenda,594-06-8946,Academic librarian,1
Hardin,Benjamin,051-85-9778,"Engineer, drilling",1

### (6b) _distinct_ and _dropDuplicates_

[`distinct()`](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.distinct) filters out duplicate rows, and it considers all columns. Since our data is completely randomly generated (by `fake-factory`), it's extremely unlikely that there are any duplicate rows:

In [82]:
print dataDF.count()
print dataDF.distinct().count()

To demonstrate `distinct()`, let's create a quick throwaway dataset.

In [84]:
tempDF = sqlContext.createDataFrame([("Joe", 1), ("Joe", 1), ("Anna", 15), ("Anna", 12), ("Ravi", 5)], ('name', 'score'))

In [85]:
tempDF.show()

In [86]:
tempDF.distinct().show()

Note that one of the ("Joe", 1) rows was deleted, but both rows with name "Anna" were kept, because all columns in a row must match another row for it to be considered a duplicate.

[`dropDuplicates()`](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.dropDuplicates) is like `distinct()`, except that it allows us to specify the columns to compare. For instance, we can use it to drop all rows where the first name and last name duplicates (ignoring the occupation and age columns).

In [89]:
print dataDF.count()
print dataDF.dropDuplicates(['first_name', 'last_name']).count()

### (6c) _drop_

[`drop()`](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.drop) is like the opposite of `select()`: Instead of selecting specific columns from a DataFrame, it drops a specifed column from a DataFrame.

Here's a simple use case: Suppose you're reading from a 1,000-column CSV file, and you have to get rid of five of the columns. Instead of selecting 995 of the columns, it's easier just to drop the five you don't want.

In [91]:
dataDF.drop('occupation').drop('age').show()

### (6d) _groupBy_

[`groupBy()`]((http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.groupBy) is one of the most powerful transformations. It allows you to perform aggregations on a DataFrame.

Unlike other DataFrame transformations, `groupBy()` does _not_ return a DataFrame. Instead, it returns a special [GroupedData](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData) object that contains various aggregation functions.

The most commonly used aggregation function is [count()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData.count),
but there are others (like [sum()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData.sum), [max()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData.max), and [avg()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.GroupedData.avg).

These aggregation functions typically create a new column and return a new DataFrame.

In [93]:
dataDF.groupBy('occupation').count().show(truncate=False)

In [94]:
dataDF.groupBy().avg('age').show(truncate=False)

We can also use `groupBy()` to do aother useful aggregations:

In [96]:
print "Maximum age: {0}".format(dataDF.groupBy().max('age').first()[0])
print "Minimum age: {0}".format(dataDF.groupBy().min('age').first()[0])

### (6e) _sample_ (optional)

When analyzing data, the [`sample()`](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.sample) transformation is often quite useful. It returns a new DataFrame with a random sample of elements from the dataset.  It takes in a `withReplacement` argument, which specifies whether it is okay to randomly pick the same item multiple times from the parent DataFrame (so when `withReplacement=True`, you can get the same item back multiple times). It takes in a `fraction` parameter, which specifies the fraction elements in the dataset you want to return. (So a `fraction` value of `0.20` returns 20% of the elements in the DataFrame.) It also takes an optional `seed` parameter that allows you to specify a seed value for the random number generator, so that reproducible results can be obtained.

In [98]:
sampledDF = dataDF.sample(withReplacement=False, fraction=0.10)
print sampledDF.count()
sampledDF.show()

In [99]:
print dataDF.sample(withReplacement=False, fraction=0.05).count()

## Part 7: Caching DataFrames and storage options

### (7a) Caching DataFrames

For efficiency Spark keeps your DataFrames in memory. (More formally, it keeps the _RDDs_ that implement your DataFrames in memory.) By keeping the contents in memory, Spark can quickly access the data. However, memory is limited, so if you try to keep too many partitions in memory, Spark will automatically delete partitions from memory to make space for new ones. If you later refer to one of the deleted partitions, Spark will automatically recreate it for you, but that takes time.

So, if you plan to use a DataFrame more than once, then you should tell Spark to cache it. You can use the `cache()` operation to keep the DataFrame in memory. However, you must still trigger an action on the DataFrame, such as `collect()` or `count()` before the caching will occur. In other words, `cache()` is lazy: It merely tells Spark that the DataFrame should be cached _when the data is materialized_. You have to run an action to materialize the data; the DataFrame will be cached as a side effect. The next time you use the DataFrame, Spark will use the cached data, rather than recomputing the DataFrame from the original data.

You can see your cached DataFrame in the "Storage" section of the Spark web UI. If you click on the name value, you can see more information about where the the DataFrame is stored.

In [102]:
# Cache the DataFrame
filteredDF.cache()
# Trigger an action
print filteredDF.count()
# Check if it is cached
print filteredDF.is_cached

### (7b) Unpersist and storage options

Spark automatically manages the partitions cached in memory. If it has more partitions than available memory, by default, it will evict older partitions to make room for new ones. For efficiency, once you are finished using cached DataFrame, you can optionally tell Spark to stop caching it in memory by using the DataFrame's `unpersist()` method to inform Spark that you no longer need the cached data.

** Advanced: ** Spark provides many more options for managing how DataFrames cached. For instance, you can tell Spark to spill cached partitions to disk when it runs out of memory, instead of simply throwing old ones away. You can explore the API for DataFrame's [persist()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.persist) operation using Python's [help()](https://docs.python.org/2/library/functions.html?highlight=help#help) command.  The `persist()` operation, optionally, takes a pySpark [StorageLevel](http://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.StorageLevel) object.

In [104]:
# If we are done with the DataFrame we can unpersist it so that its memory can be reclaimed
filteredDF.unpersist()
# Check if it is cached
print filteredDF.is_cached

## ** Part 8: Debugging Spark applications and lazy evaluation **

### How Python is Executed in Spark

Internally, Spark executes using a Java Virtual Machine (JVM). pySpark runs Python code in a JVM using [Py4J](http://py4j.sourceforge.net). Py4J enables Python programs running in a Python interpreter to dynamically access Java objects in a Java Virtual Machine. Methods are called as if the Java objects resided in the Python interpreter and Java collections can be accessed through standard Python collection methods. Py4J also enables Java programs to call back Python objects.

Because pySpark uses Py4J, coding errors often result in a complicated, confusing stack trace that can be difficult to understand. In the following section, we'll explore how to understand stack traces.

### (8a) Challenges with lazy evaluation using transformations and actions

Spark's use of lazy evaluation can make debugging more difficult because code is not always executed immediately. To see an example of how this can happen, let's first define a broken filter function.
Next we perform a `filter()` operation using the broken filtering function.  No error will occur at this point due to Spark's use of lazy evaluation.

The `filter()` method will not be executed *until* an action operation is invoked on the DataFrame.  We will perform an action by using the `count()` method to return a list that contains all of the elements in this DataFrame.

In [108]:
def brokenTen(value):
    """Incorrect implementation of the ten function.

    Note:
        The `if` statement checks an undefined variable `val` instead of `value`.

    Args:
        value (int): A number.

    Returns:
        bool: Whether `value` is less than ten.

    Raises:
        NameError: The function references `val`, which is not available in the local or global
            namespace, so a `NameError` is raised.
    """
    if (val < 10):
        return True
    else:
        return False

btUDF = udf(brokenTen)
brokenDF = subDF.filter(btUDF(subDF.age) == True)

In [109]:
# Now we'll see the error
# Click on the `+` button to expand the error and scroll through the message.
brokenDF.count()

### (8b) Finding the bug

When the `filter()` method is executed, Spark calls the UDF. Since our UDF has an error in the underlying filtering function `brokenTen()`, an error occurs.

Scroll through the output "Py4JJavaError     Traceback (most recent call last)" part of the cell and first you will see that the line that generated the error is the `count()` method line. There is *nothing wrong with this line*. However, it is an action and that caused other methods to be executed. Continue scrolling through the Traceback and you will see the following error line:

`NameError: global name 'val' is not defined`

Looking at this error line, we can see that we used the wrong variable name in our filtering function `brokenTen()`.

### (8c) Moving toward expert style

As you are learning Spark, I recommend that you write your code in the form:
```
    df2 = df1.transformation1()
    df2.action1()
    df3 = df2.transformation2()
    df3.action2()
```
Using this style will make debugging your code much easier as it makes errors easier to localize - errors in your transformations will occur when the next action is executed.

Once you become more experienced with Spark, you can write your code with the form: `df.transformation1().transformation2().action()`

We can also use `lambda()` functions instead of separately defined functions when their use improves readability and conciseness.

In [112]:
# Cleaner code through lambda use
myUDF = udf(lambda v: v < 10)
subDF.filter(myUDF(subDF.age) == True)

### (8d) Readability and code style

To make the expert coding style more readable, enclose the statement in parentheses and put each method, transformation, or action on a separate line.

In [114]:
# Final version
from pyspark.sql.functions import *
(dataDF
 .filter(dataDF.age > 20)
 .select(concat(dataDF.first_name, lit(' '), dataDF.last_name), dataDF.occupation)
 .show(truncate=False)
 )